@import "../../utils/mixins";
@import "../../utils/variables";

.room-filter {
  @include displayFlexColumn();
  gap: 1rem;
  align-items: flex-start;
}

.FilterRoomType {
  overflow-y: scroll;
  width: 15vw;
  height: 10vh;
}
